@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6fac0;
    font-family: "Press Start 2P", sans-serif;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
}

#container {
    width: 600px;
    height: 600px;
    border: 8px solid black;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid {
    border: 1px solid black;
}

.btn-container {
    width: 600px;
    margin: 10px auto;
}

.btn-container #grid-btn {
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(140deg, #68e7e1 20%, #3f8ce4);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-container .erase-btn {
    padding: 6px 10px;
}